@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFontName';
  src: url('/fonts/AvenirArabic-Medium.otf') format('woff2');
  font-weight: bold;
  font-style: normal;
}

main{
  min-height: calc(100vh - 142px);
  direction: rtl;
}

body {
  font-family: MyCustomFont sans-serif;
}
